*{
	margin: 0;
	padding: 0;
}

.bg{
    position: absolute;
	width: 870px;
    height: 774px;
    background: linear-gradient(to top, rgba(252, 250, 250, 0.788)50%,rgba(252, 250, 250, 0.788)50%);
    position: absolute;
    top: none;
    left: none;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.logo img{
	position: absolute;
	float: center;
	left: auto;
	width: 100px;
	height: 100px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 25%;
	left: 30%;
    font-style: Arapey;
    font-size: 16px;
	transform: translate(-50%,-50%);
}

.header2{
    position: absolute;
    left: 50%;
    font-style: Arapey;
    font-size: 12px;
    color: #800201;
    transform: translate(-50%, -50%);
}

.notify{
    position: absolute;
    left: 25%;
    font-style: Arapey;
    font-size: 12px;
    color: #800201;
    transform: translate(-50%, -50%);
}

.content-container{
    max-height: 375px; 
    overflow: auto;
    position: absolute;
    font-style: Arimo;
    font-size: 15px;
    color: black;
    top: 57%;
    left: 30%;
    transform: translate(-50%,-50%);
	margin: 2px;
    padding: 6px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.582);
    font-family: Arimo;
    font-size: 15px;
}

.btn{
    position: absolute;
	top: 87%;
	left: 45%;
	transform: translate(-50%,-50%);
    background-color: #9e3734;
	border-radius: 45%;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
    font-style: Garamond;
	cursor: pointer;
    transition: .4s ease;
}

.btn:hover{
	background-color: #fffffff6;
	color: #000;
}

.terms{
	position:absolute;
    font-style: Arial;
    font-size: 15px;
    top: 95%;
    left: 7%;
}

html{
	scroll-behavior: smooth;
}

.sidebar{
	font-family: montserrat;
}

section{
	margin-left: 0px;
	transition: all .3s;
}
i {
	top: 5%;
	position: absolute;
	margin: -10px 25px;
	font-size: 30px;
	color: black;
	cursor: pointer;
}

ul{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -240px;
	width: 240px;
	background: whitesmoke;
	height: 100vh;
	overflow-y: auto;
	transition: all .3s;
}

ul li{
	height: 65px;
	outline: none;
}

ul li a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-size: 20px;
	color: black;
	padding-left: 10%;
	background: whitesmoke;
	border-top: 1px solid rgba(255,255,255,.1);
	border-left: 5px solid transparent;
	word-spacing: 20%;
}

ul li a i{
	position: relative;
	font-size: 20px;
}

.active a{
	color: #B93632;
	border-left: 5px solid #B93632;
	background: white;
}

.ul_show{
	margin-left: 0px;
}

.slide_image{
	margin-left: 250px;
}